<!-- scroll to top -->
<a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- scroll to top End... -->

<!-- footer -->
<footer id="footer" class="footer">
    <div class="color-overlay">
        <div class="container">
            <div class="row os-animation" data-os-animation="bounceIn">
                <ul class="social footer-social text-center">
                    <li><a href="https://www.facebook.com/HairByLenaJ" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://instagram.com/lena_j_haircare/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/Lenaj_101" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="row os-animation" data-os-animation="bounceIn">
                <div class="transparent-line"></div>
            </div>
            <div class="row os-animation" data-os-animation="bounceIn">
                <p class="text-center content-white copy">&copy; 2015 HairByLenaJ.com | Designed by <a style="color: #FFF;" href="https://www.sapioweb.com">Sapioweb.com</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
