<li><a href="/" class="directpage">Home</a></li>
<li><a href="/about" class="directpage">About</a></li>
<li><a href="/services" class="directpage">Services</a></li>
<li><a href="/styles" class="directpage">Styles</a></li>
<li><a href="/systems" class="directpage">Systems</a></li>
<li><a href="/discover" class="directpage">Appointments</a></li>
<li><a href="/products/hair" class="directpage">Hair</a></li>
<li><a href="/contact" class="directpage">Contact</a></li>
