<% layout('layouts/default') -%>

<% block('title', 'HairByLenaJ.com') %>

<% include includes/pageHeader %>

            <!-- blog details -->
            <section id="blog-details" class="blog-details white-bg blog-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 left">
                            <div class="blog-listing">
                                <div class="col-md-12 blog-content">
                                    <article class="contentarea col-sm-4 padding-right" style="margin-top:25px;">
                                        <img src="/images/about.png" />
                                        <p style="text-align:center"><img style="margin:30px auto;width:70%" src="images/lenaj-sig.png"></p>
                                    </article>
                                    <article class="contentarea col-sm-8 padding-left">
										<h3>Hey, I’m Lena J, one of Las Vegas’s most elite hair stylists.</h3>
										<p>I serve fabulous women with a fabulous profession who love having amazing, sexy, sleek hair.</p>

										<p>In the past, women have been pulling their hair out struggling to finding an authentic great stylist who can help with co-creating and maintaining their unique look beyond the salon chair.</p>

										<p>My clients crave an exclusive one-on-one salon experience, that I passionately provide. They desire to be immersed in relaxation and a much needed girl time.</p>

										<p>I work with beautiful women who desperately want someone they can put their faith in and finally trust with their untamed mane.</p>

										<p>My clients are not happy looking like everyone else around them. These luxy hair professionals hate leaving the salon dissatisfied, feeling like another plain Jane. </p>

										<p>I serve women who can’t quite figure out how to achieve that perfect look. And looking for a passionate, cutting-edge professional who gets the job done right. They yearn for head-turning magazine cover styles that’s achievable at home.</p>

										<p>My clients are totally into owning their own individual style at their trendy office and flossing it boldly at the hottest hangouts in town. These beauties are totally ready for a change and not afraid to try something brand spanking new and be the next Instagram hashtag trend. </p>

										<p>I remind my divas to have more patience and accountability with their hair while sprinkling in a little encouragement and insight to growing healthier hair faster. However, I firmly stand behind my commitment to replenishing their natural glow, and ladies this is a team effort, you + me.</p>

										<p>I help my beauties with accepting and loving the gorgeous hair God has blessed them with, all while getting more delicious desirable results with better tool selection and product choices (that is Lena J approved.)</p>

										<p>Hair-mergency? No problem, I resolve haircare dilemmas once and for all like your personal Fairy Godmother for haircare. I turn damaged, frail hair into signature sexy, sleek, healthy, Lena J mane. You will always leave my shiny salon chair feeling totally gorgeous and confident. </p>

										<p>I am the hair professor, your hair guru, bringing more sass into your life while providing you with the wisdom and knowledge to get exactly what you dream your hair to be, which is Lena J sexy, sleek hair. </p>
									</article>
                                </div>
                                <!-- blog details end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- comment end... -->
            </section>

@endsection
