<% layout('layouts/default') -%>

<% block('title', 'HairByLenaJ.com') %>

<% include includes/pageHeader %>

<section id="expertise" class="special-offers gray-bg">
  <div class="container">
    <div class="row border-bottom os-animation text-center" data-os-animation="fadeInUp">
      <div class="col-md-6 col-sm-6 title-text border-right">
        <h2 class="title">Appointment</h2>
      </div>
      <div class="col-md-6 col-sm-6 simple-text">
        <p class="description text-left">I'd like to consult with you at no charge. Please book a required DISCOVERY SESSION before scheduling actual services. I'm addicted to getting results, and very excited for you. During our time together I will coach you on how to properly care for your hair all while enjoying your NEW amazingly gorgeous sexy sleek MANE !</p>
      </div>
    </div>

    <div class="col-md-12 col-sm-12" style="margin: 20px 0px;">
      <div>
        <div class="fetaure-details">
    			<h4 class="title">Appointments Policy</h4>
    			<div style="clear:both"></div>
    			<p style="font-size: 16px;">I strive to build relationships with my clients during the hair care journey. My "No-wait" policy, means I will not split or overlap appointment times. Your time with me is EXCLUSIVE. You have my undivided attention.</p>
          <p style="font-size: 16px;">In effort to serve you all more efficiently, for your convince appointments are scheduled online. However for those of you who would rather connect directly, please EMAIL ME! I'd love to talk to you! In fairness to all my amazing clients,  24-hour notice to cancel your appointment is required. Appointments may only be canceled online through the confirmation email provided. Time is of the essence. If you are running behind a quick notification is greatly appreciated. A 15 minutes grace period is honored on all appointments. </p>
          <p style="font-size: 16px;">Please take the time to throughly review the "STYLE" and "SYSTEM" sections on the site. This site was cleverly designed to help your Discovery your perfect mane. The "SYSTEM" descriptions will help you determine your hair care needs. While the "Style" gallery imaginably help you select the style that best fits your unique life style and personal expression. Each system and or style are priced based on time and technique required to achieve your transformation. The combination of your selections will clearly convey your hair desire, allowing me to exceed your expectations.</p>
          <p style="font-size: 16px;">Extension services can sometimes last up 3+ hours.All extension install services require a non-refundable deposit of $100 (services exceeding $200 or greater).Please be sure to have your credit card ready prior to making an appointment.</p>
          <p style="font-size: 16px;">Thank for you corporation and understanding!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- special offers end -->

<h1 class="align-center" style="font-size: 40px;  background-color: #28aa84;float: none !important;margin: 0;padding: 16px 0 18px 0;text-align: center;"><a style="color: #fff;" href="https://www.schedulicity.com/scheduling/HBLZFE" target="_blank">Schedule your Appointment here</a></h1>
