<% layout('layouts/default') -%>

<% block('title', 'HairByLenaJ.com') %>

<header id="home" data-stellar-background-ratio="0.5" class="header animated no-background">
  <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav" role="navigation">
    <div class="container main-navigation">
      <div class="col-md-3">
        <a class="logo-dark" href="{{url('/')}}" style="float: left">
          <img alt="logo-dark" src="images/logo-dark.svg" class="logo-dark" style="width: 100% !important; margin-top: -10px;"/>
        </a>
      </div>
      <div class="col-md-3">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="col-md-9 text-left float-right collapse-navation">
        <div class="navbar-collapse collapse navbar-inverse">
          <ul class="nav navbar-nav navbar-right">
            <% include includes/menuLinks %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="home-slider full-screen">
    <div id="carousel3" class="carousel slide " data-ride="carousel3" data-interval='false'>
      <div class="carousel-inner">
        <div class="item active">
          <div class="slider-gradient-overlay"></div>
          <div style="background-image:url('images/slider-img5.jpg');" class="fill"></div>
          <div class="slider-text">
            <div class="col-md-6">
            	<img alt="logo-white" src="images/logo-light.svg" style="width: 80% !important;" />

              <span>Las Vegas Elite hair care specialist , mentor and motivator</span>

              <a href="#bio" class="highlight-button inner-link">Read Her Bio</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="bio" class="pink-bg model-box">
    <div class="white-bg"></div>
    <div class="container">
        <div class="row os-animation text-center" data-os-animation="fadeInUp">
            <div class="col-md-6 col-sm-6 simple-text float-right margin-top-100 text-left">
                <h3 class="big model-name">Lena J</h3>

                <p class="model-des">Lena J sexy sleek hair mission is to make a difference in the haircare industry by promoting both healthy and beautiful hair, who says you can’t have both? In Lena J’s world, that is the ultimate embodiment of beauty. </p>
                <p>Her success can be attributed to her commitment to the ever growing industry, continuous hair education, and building personal relationships by keeping her lovely clients first.

                <p>Your experiences with Lena J will be memorable and definitely unmatched. </p>

                <p>When you step into her chic salon, you can expect professionalism, personal connection, hair maintenance advice, life inspiration, and without a doubt, sexy, sleek hair. </p>

                <p>You will come in as a curious confused client and leave as a satisfied dear friend. Tears in your eyes laughter, love, delectable treats, and most importantly hair care all happens during your exclusive VIP spa time.</p>

                <p>Over the past growing eight years, she has built a strong reputation for promoting healthy hair and using hair extensions as her guaranteed already proven formula for hair restoration.</p>

                <p>In the gorgeous fall of 2014, Lena J established and revealed the LJ Mane (styles and hair unit) Collection. This brand new cutting-edge system is design to help you, discover the protective style that best suits your unique lifestyle and haircare needs.</p>

                <p>Predictability and quality hair will never be your worry once you have the Lena J experience. </p>

                <p>Welcome, with a big hug and kiss on the cheek, enjoy your latte or red blend wine while Lena J brings your dull hair back to it’s original vibrancy. </p>

            </div>
        </div>
    </div>
</section>

<section id="about" class="gray-bg">
    <div class="container">
        <div class="row border-bottom os-animation text-center" data-os-animation="fadeInUp">
            <div class="col-md-6 col-sm-6 title-text border-right">
                <h2 class="title">Systems</h2>
            </div>
            <div class="col-md-6 col-sm-6 simple-text">
                <p class="description text-left">Over the past growing eight years, she has built a strong reputation for promoting healthy hair and using hair extensions as her guaranteed already proven formula for hair restoration.<br>
                <a class="highlight-button-black inner-link" href="/systems">View Lena J's Systems</a></p>
            </div>
        </div>
        <div class="row os-animation border-bottom" data-os-animation="fadeInUp">
            <div class="col-md-3 col-sm-3 service-box fashion-service-box border-right text-center">
                <div class="service-icon"><i class="fa fa-pencil-square-o"></i></div>
                <h6>"Healthy Hair Maintenance" - HHM</h6>
                <p class="content" style="font-size:14px;">Consistence is the need to know secret to growing and retaining long, healthy hair. You need a daily routine to promote and support your healthy hair journey. </p>
            </div>
            <div class="col-md-3 col-sm-3 service-box fashion-service-box border-right text-center">
                <div class="service-icon"><i class="fa fa-diamond"></i></div>
                <h6>"Sleeping Beauty" - SB</h6>
                <p class="content" style="font-size:14px;">Let me put your damaged hair to sleep and awaken with beauty. Hand over the comb and brush now. Leave it up to me to get your hair healthy once and for all.</p>
            </div>
            <div class="col-md-3 col-sm-3 service-box fashion-service-box border-right text-center">
                <div class="service-icon"><i class="fa fa-magic"></i></div>
                <h6>"The Mane Connection" - TMC</h6>
                <p class="content" style="font-size:14px;">Your natural hair is washed and conditioned with love biweekly. Your scalp is pampered with rose water creams and braided down to assure a snug fit. </p>
            </div>
            <div class="col-md-3 col-sm-3 service-box fashion-service-box text-center">
                <div class="service-icon"><i class="fa fa-leaf"></i></div>
                <h6>"Naturally Extended" - NE</h6>
                <p class="content" style="font-size:14px;">Longer is better! Adding length to your hair is an instantaneous transformation to being a glamazon or Goddess.  </p>
            </div>
        </div>
    </div>

</section>

<h1 class="align-center" style="float: none !important;margin: 0;padding: 40px 0 45px 0;text-align: center;"><a href="http://www.hairbylenaj.mayvenn.com"><img src="/images/Mayven%20Logo%20Clear.png" target="_blank" style="height: 96px;width: auto;"/></a></h1>

<!--
@include('includes.slider')
-->

<h1 class="align-center" style="font-size: 40px;  background-color: #28aa84;float: none !important;margin: 0;padding: 16px 0 18px 0;text-align: center;"><a style="color: #fff;" href="https://www.schedulicity.com/scheduling/HBLZFE" target="_blank">Schedule your Appointment here</a></h1>
