<% layout('layouts/default') -%>

<% block('title', 'HairByLenaJ.com') %>

<% include includes/pageHeader %>


             <!-- services -->
            <section id="expertise" class="expertise">
                <div class="container">
                    <div class="row border-bottom os-animation text-center" data-os-animation="fadeInUp">
                        <div class="col-md-6 col-sm-6 title-text border-right">
                            <h2 class="title">Services</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 simple-text">
                            <p class="description text-left">Stop by and get your sexy, sleek, and healthy style done today. Select your service and lets get you schecduled.
                            <a href="https://www.schedulicity.com/scheduling/HBLZFE" class="highlight-button" style="background-color: #28aa84;color: #fff;font-size: 14px;padding: 15px 25px;margin-top: 20px;float: left;">Schedule Now</a>
                            </p>
                        </div>
                    </div>
                    <div class="row feature-content os-animation" data-os-animation="fadeInUp">

                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="margin: 30px 0px;">
                                <div class="feature">
                                    <div class="fetaure-details">
                                        <h4 class="title">Cuts <span>(all cuts begin with hair assessment and includes style)</span></h4>
                                        <p class="content">Hair Cuts: $65.00</p>
                                        <p class="content">Kids Cuts: $35.00</p>
                                        <p class="content">Trim: $25.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="margin: 30px 0px;">
                                <div class="feature">
                                    <div class="fetaure-details">
                                        <h4 class="title">Shampoo Style <span>(HEALTHY HAIR MAINTENANCE)</span></h4>
                                        <p class="content">Shampoo Blowout (Preset Appointments): $40.00</p>
                                        <p class="content">Shampoo &amp; Condition (Fix me): $55.00</p>
                                        <p class="content">Shampoo &amp; Deep Mask (I've missed you): $65.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="clear:both;width:100%;height:1px;"></div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="margin: 30px 0px;">
                                <div class="feature">
                                    <div class="fetaure-details">
                                        <h4 class="title">Extensions Services</h4>
    									<p class="content">Free Discovery Session ( Consultation)</p>
    									<p class="content">Extension Tighten: $45.00+</p>
    									<p class="content">Extension Tighten &amp; Shampoo: $65.00</p>
    									<p class="content">Extension Tighten &amp; Tone: $80.00</p>
    									<p class="content">Extension Removal: $45.00+ </p>
    									<p class="content">Custom Clips: $75.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="margin: 30px 0px;">
                                <div class="feature">
                                    <div class="fetaure-details">
                                        <h4 class="title">Color Services <span>(Discovery consult and includes finishing style)</span></h4>
                                        <p class="content">Semi Permeant Color/Toner: $50.00</p>
                                        <p class="content">Single color Process: $75.00</p>
                                        <p class="content">Highlights &amp; Ombre: $100.00+</p>
                                        <p class="content">Color Change/Correction: $100.00+</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="margin: 30px 0px;">
                                <div class="feature">
                                    <div class="fetaure-details">
                                        <h4 class="title">Extension Hair Care System <span>(Deposit required - Please come with Clean Hair)</span></h4>
                                    	<p class="content">Full Sew-in ( Sleeping Beauty): $325.00+</p>
    									<p class="content">Partial Sew-in ( Sleeping Beauty): $275.00+</p>
    									<p class="content">Per-Track Sew-in (Naturally Extended): $65.00+/ track</p>
    									<p class="content">Custom Units / Wigs (Mane Collection): $350.00+</p>
                                        <p class="content">
                                            <a href="styles" class="highlight-button-black inner-link">Select a style Here</a></br>
                                            <small>**style may vary based ono style selection**</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="margin: 30px 0px;">
                                <div class="feature">
                                    <div class="fetaure-details">
                                        <h4 class="title">Chemical Services <span>(Services include styling)</span></h4>

                                        <div class="col-xs-12 col-md-6">
                                            <div class="row">
                                                <p class="content">Virgin Relaxer: $95.00</p>
                                                <p class="content">Full Relaxer: $80.00</p>
                                                <p class="content">Partial Relaxer: $65.00</p>
                                                <p class="content">Hair Clarify: $100.00</p>
                                                <p class="content">Oaplex: $20.00 add-on<br>
                                                <small style="line-height:0px;"> (Olaplex is a molecule bond multiplier, developed to eliminate breakage from chemical services.)</small></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="row">
                                                <img src="images/olaplex.jpg" width="100%">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12" style="margin: 30px 0px;">
                                <div class="feature" style="margin-left:4%">
                                    <div class="fetaure-details">
                                        <h4 class="title" style="width:100%">Speaking/ Consulting/Coaching: <span>Contact info@hairbylenaj.com</span></h4>
                                        <br>
                                        <h4 class="title" style="width:100%">Onsite & Special Event: <span>$100.00+</span></h4>
                                        <br><br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- services end -->

            <h1 class="align-center" style="font-size: 40px;  background-color: #28aa84;float: none !important;margin: 0;padding: 16px 0 18px 0;text-align: center;"><a style="color: #fff;" href="https://www.schedulicity.com/scheduling/HBLZFE" target="_blank">Schedule your Appointment here</a></h1>
