<% layout('layouts/default') -%>

<% block('title', 'HairByLenaJ.com') %>

<% include includes/pageHeader %>

<!-- special offers -->
<section id="expertise" class="special-offers">
  <div class="container">
    <div class="row border-bottom os-animation text-center" data-os-animation="fadeInUp">
      <div class="col-md-6 col-sm-6 title-text border-right">
        <h2 class="title">Systems</h2>
      </div>
      <div class="col-md-6 col-sm-6 simple-text">
        <p class="description text-left">"Hair retention starts with commitment to healthy hair habits. Establish a hair regimen that will assure your healthy sexy sleek hair." ~ LENA J.</p>
      </div>
    </div>

    <div class="col-md-12 col-sm-12" style="margin: 20px 0px;">
      <div>
        <div class="fetaure-details">
          <h4 class="title">HHM<span> "HEALTHY HAIR MAINTENANCE"</span></h4>
          <div style="clear:both"></div>
          <p>This glorious spa service always provides condition treatment and hair trims as needed and a finished, blowout style. </p>
          <p>This recurring service takes away the guessing and shock to what your hair needs next.
          You don't have to wonder daily what your hair needs from month to month or be charged maintenance service fees at regular price ($25 for trims and $65 for treatments). </p>
          <p>Your VIP spa service fees will always remain the same. </p>
          <p>This system does require a commitment to biweekly, prescheduled appointments. (This system can also be added to any other system for added support.)</p>
          <br>
          <p><strong>Recommended for: ALL HAIR TYPES<br>
          Current hair condition: CHALLENGED/NEEDS IMPROVEMENT/HEALTHY<br>
          Starting at: $40</strong></p>

          <div class="row">
            <div class="col-md-3">
              <img src="/images/1.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12" style="margin: 20px 0px;">
      <div>
        <div class="fetaure-details">
          <h4 class="title">NE<span> "NATURALLY EXTENDED"</span></h4>
          <div style="clear:both"></div>
          <p>Longer is better!

          <p>Adding length to your hair is an instantaneous transformation to being a glamazon or Goddess.  </p>

          <p>The best part is, if that sexy bob you're sick of already or bad nasty cut isn't growing fast enough, let me bridge that gap for you. By strategically adding in several weft extensions to your natural hair you will now strut around with long, sexy, sleek layers (or  even color-infused ombre hair is possible in minutes.) </p>

          <p>Literally, in under a few hours, unbelievable transformation will happen. It's also a great way to create fashion-forward, trendy styles without compromising the integrity of your natural hair. </p>

          <p>Most of your natural hair is free, so your styling is endless. </p>

          <p>This versatile system allows fullness and heat protection for you scrumptious hair. </p>

          <p>This lovely style requires two follow-up maintenance appointments over the 12 weeks that the extension are in. This maintenance service is available for trims, reshaping, and weft reinforcement. Additional service fees apply. </p>

          <p>Several methods within this system are available:</p>

          <blockquote>Braid-in tracks are the most traditional method used.  A thin braid is placed horizontally in several sections of your natural hair. The weft hair of your choice is then sewn onto that braid. With several tracks added and the perfect blend cut, it is virtually impossible to see where your hair and the extensions meet.
          <br><strong>Starting at: $65/roll</strong>

          <div class="row">
            <div class="col-md-3">
              <img src="/images/braid-in-naturally-extended.jpg">
            </div>
          </div>

          </blockquote>
          <blockquote>Malaysian tracks are becoming pretty popular.  Copper silicone-lined beads are placed in rolls in the same manner in which the braid is created in the previous method. The wefts are then sewn onto the beads.   This gives the same result but lays noticeably flatter.  This method is ideal for clients with thinner hair or those who only wish to emphasize certain points in their style (i.e., A-line bobs or color placement).
          <br><strong>Starting at: $75.00</strong>

          <div class="row">
            <div class="col-md-3">
              <img src="/images/malaysian-track-natually-extended.jpg">
            </div>
            <div class="col-md-3">
              <img src="/images/malaysian-strand-to-strand- naturally-extended.jpg">
            </div>
          </div>

          </blockquote>
          <blockquote>Clip-in wefts are perfect for special occasions, events, photo shoots, and weddings.  Often, when a client graduates from the LJ Mane haircare system, she is not always ready to give up the fullness that extensions give. The wefts that are removed can be made into clips.
          <br><strong>Starting at: $75.00</strong>

          <div class="row">
            <div class="col-md-3">
              <img src="/images/3008-275x277-Pro_extensions.jpg">
            </div>
          </div>

          </blockquote>

          <p><strong>Recommended for: ALL HAIR TYPES<br>
          Current hair condition: HEALTHY <br>
          Starting at: $55.00 /per bundle</strong></p>

        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12" style="margin: 20px 0px;">
      <div>
        <div class="fetaure-details">
          <h4 class="title">TMC<span> "THE MANE CONNECTION"</span></h4>
          <div style="clear:both"></div>
          <p>Let's get to the root of the problem. </p>

          <p>For various unknown reasons, having a sew-in weave may not be the system for you. </p>

          <p>Whether you prefer a juicy variety of signature styles from week to week or you need to nurture your hair and scalp more closely, the Mane Connection is the perfect system for you. </p>

          <p>This innovative beauty service uses customized units that are designed to fit the shape of your head perfectly. </p>

          <p>Again, the focus of the system is to establish easy assessments of problem areas while at the same time giving you a flawless, sleek, and sexy style. </p>

          <p>Your natural hair is washed and conditioned with love biweekly. Your scalp is pampered with rose water creams and braided down to assure a snug fit. </p>

          <p>Any of the amazing nine LJ Collection styles can be created. </p>

          <p>The easy to use unit can be sewn down or designed with support clips. </p>

          <p>Bam, in under one whole hour, you will be gorgeously transformed. </p>

          <p>Your unique unit should be hand-washed with care and laid out to dry. A maintenance service is available for trims, reshaping, and weft reinforcement.  </p>

          <p>This system is great for the you if you are not ready to commit to a new haircut or color change. Units are priced based on your hair selection and style of choice. This is a great way to preserve you investment. Having several units will guarantee years of fabulous hair options. </p>

          <p><strong>Recommended for: ALL HAIR TYPES<br>
          Current hair condition: CHALLENGED/NEEDS IMPROVEMENT/HEALTHY<br>
          Unit types: FULL LACE FRONT WIG, U-SHAPE, V-SHAPE, PARTIAL <br>
          Units Starting at: $350<br>
          biweekly conditioning $35</strong></p>

          <div class="row">
            <div class="col-md-3">
              <img src="/images/main-connection.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12" style="margin: 20px 0px;">
      <div>
        <div class="fetaure-details">
          <h4 class="title">SB<span> "SLEEPING BEAUTY"</span></h4>
          <div style="clear:both"></div>
          <p>Let me put your damaged hair to sleep and awaken with beauty. </p>

          <p>Come on, hand over the comb and brush now. Leave it up to me to get your hair healthy once and for all. </p>

          <img src="images/mayvenn-chart.jpg" style="float:right;width:35%">

          <p>This full-weave extension service requires 6-12 ounces of quality weft hair (3 bundles). By expertly fully braiding down the clients’ natural hair, I will install the LJ Collection style of your dream choice.  </p>

          <p>This detailed eccentric method will not disrupt the repair process of your natural hair while you enjoy your new, sexy, sleek style. </p>

          <p>Literally, in under a few hours, unbelievable healthy transformation will happen. </p>

          <p>Before every customized installation, we will discuss and examine the condition of your hair and scalp as well as determine what your overall gorgeous hair goals are.  </p>

          <p>It is totally recommended to pair this system with HHM for preservation of extension hair and maximum longevity of style. Monthly tightening will provide added support over the 10 weeks. After 8-10 weeks, the extensions are removed (additional charge for this service) and the system can be repeated. Most styles in the LJ Mane Collection can be achieved with this system. </p>

          <p><strong>Recommended for: TEXTURED<br>
          Current hair condition: CHALLENGED/NEEDS IMPROVEMENT/HEALTHY<br>
          Techniques: CLASSIC/PARTIAL LEAVEOUT/FULL CLOSURE/FLIPOVER/VIXEN<br>
          Starting at: $275+</strong></p>

          <div class="row">
            <div class="col-md-3">
              <img src="/images/sleeping-beauty-full-closure.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>
</section>
<!-- special offers end -->


  <h1 class="align-center" style="font-size: 40px;  background-color: #28aa84;float: none !important;margin: 0;padding: 16px 0 18px 0;text-align: center;"><a style="color: #fff;" href="https://hairbylenaj.mayvenn.com/" target="_blank">Purchase Hair Now</a></h1>
